*{
    padding: 0;
    margin: 0;
    font-size: 16px;
}
a{
    text-decoration: none;
    color: darkblue;
}
#menu-1{
    background-color: rgb(209, 226, 224);
    width: 150px;
    position: relative;
}
#menu-1>ul>li, #menu-2>li,#menu-3>li{
    padding: 0.75rem;
    display: flex;
}
#menu-1>ul>li:hover>a, #menu-1>ul>li:hover, #menu-3>li:hover>a, #menu-3>li:hover {
    background-color: red;
    color: #fff;
}
#menu-2, #menu-3{
    position: absolute;
    visibility: hidden;
    background-color: rgb(128, 139, 138);
    width: 150px;
    left: 100%;
    list-style: none;
}
#menu-1>ul>li:hover>ul, #menu-2>li:hover>ul{
    visibility: visible;
}
#menu-2{
    top:0;
}
#menu-3{
    top: 80%;
}

